fastapi
uvicorn[standard]
sqlalchemy==2.0.32
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-multipart
python-dotenv
pydantic
python-dotenv
bcrypt<4.0
pytest
httpx
requests
beautifulsoup4
scikit-learn
pandas
numpy
nltk
